<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}School Website{% endblock %}</title>
    {% load static %}
    <style>
        
        #moveable-pic {
            position: absolute;
            width: auto;
            height: auto;
            cursor: grab;
        }
        .image-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
            gap: 10px;
        }
        .image-item {
            border: 1px solid #ddd;
            padding: 10px;
        }
    </style>
</head>
<body>
    <header>
        <link rel="stylesheet" href="{% static 'schools/nav.css' %}">
        <nav>
            <ul class="navbar">
                <li class="dropdown"><a href="{% url 'schools:home' %}">Home</a></li>
                <li class="dropdown"><a href="{% url 'schools:course_list' %}">Courses</a></li>
                <li class="dropdown"><a href="{% url 'schools:teacher_list' %}">Teachers</a></li>
                <li class="dropdown"><a href="{% url 'schools:student_list' %}">Students</a></li>
                <li class="dropdown"><a href="{% url 'schools:event_list' %}">Events</a></li>
            </ul>
        </nav>
        <h1>Welcom To UTH International School</h1>
        <div class="container">
            <img id="moveable-pic" src="{% static 'image/school.png' %}" alt="school-image">
        </div>
        <script src="{% static 'js/moveable.js' %}"></script>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main><br><br>
    <footer style="background-color: rgb(219, 160, 160);">
        <h1>UTH International School Mission</h1><br>
        <p>"To facilities first-class education and civillsation to children within and from outside OLA with the hope that there will be a betterworld community tomorrow</p> <br><br>
        <div style="background-color: rgb(180, 151, 207);">
            <h2>Contact Us</h2> <br>
        <b>Postal Address</b>
        <p>UTH International School <br> P.O. Box 3673, Otunde,Ola <br> plot 17-25 <br> Tunde</p>
        <p>Email:<a href="mailto:okanlawonbolaji40@gmail.com">Okanlawonbolaji40@gmail.com</a></p>
        <p>Phone: +256 76 259 0740</p>
        <p>WhatsApp: +971 50 449 8037</p>
        <br>

        <h3>GO TO</h3>
        <ul>
            <li><a href="{% url 'schools:home' %}">Home</a></li>
            <li><a href="{% url 'schools:course_list' %}">Courses</a></li>
            <li><a href="{% url 'schools:teacher_list' %}">Teachers</a></li>
            <li><a href="{% url 'schools:student_list' %}">Students</a></li>
            <li><a href="{% url 'schools:event_list' %}">Events</a></li>
        </ul>
        </div>
        <br>
        <p>&copy; 2023 UTH International School</p>
    </footer>
</body>
</html>