{% extends 'schools/base.html' %}

{% block title %}Courses{% endblock %}

{% load static %}


{% block content %}
<link href="{% static 'schools\image.css' %}">
    <h2>Courses</h2>
    <ol class="course-list">
        {% for course in courses %}
            <div class="image-grid">
                <div class="image-item"><img src="{{ course.images.url }}" height="150" width="150"></div>
            </div>
            <li><h3><a href="{% url 'schools:course_detail' course.pk %}">{{ course.title }}</a></h3></li>
        {% endfor %}
    </ol>
{% endblock %}