{% extends 'schools/base.html' %}

{% block title %}Home{% endblock %}

{% load static %}

{% static "schools/nav.css" %}

{% block content %}
    <section>
        <div>
            <img src="" alt="">
            <h1>About UTH International</h1> <br>
            <p>UTH International School, is a  private mixed primary school located in Tunde Division of City Council of Olatunde. 
            It is a day school providing a local curriculum UTH International school is on an International level but follows a local curriculum. 
            It's  situated along Oke bypass and has an enrollment of over 3500 pupils with 300 well-trained teachers and over 200 non-teaching staff members.
            The pupils come from all over the world. The school has been and will continue to be an academic hub of Ola because of the balanced curriculum offered.
            We  are a multi-cultural institution that provides awell-rounded balanced enducation to children from different backgrounds
            <br><br/>The school <b>mission</b> is <b>"to facillitate first-class education and civillsation to children with and from oustide OLA with the hope that there
            will be a beter world community tomorrow"</b>. <br><br>The school anthem clearly indicates that children, teachers and parents of UTH International school
        glorify the lord and their prayers ascend on high to archieve school goals and aspirations. <br> <br> UTH International school is great school in that all facilities required by a pupil are available and the include;</p>
        </div>
    </section>
    <section>
        <div>
            <ol>
                <li>Spacious Classrooms</li>
                <li>Two well stocked school libraries.</li>
                <li>Computer room with smart boards</li>
                <li>A cookery Room with cooking facilities</li>
                <li>A tailoring room with enough sweing machines</li>
                <li>Art room</li>
                <li>A swimming pool on international standard</li>
                <li>Play field (include Basket ball, Netball, etc)</li>
                <li>A sick bay with a qualified nurse and necessary drugs</li>
                <li>A multi-purpose hall</li>
                <li>Amphi theater for the infant section</li>
                <li>A modern kitchen</li>
                <li>Day care</li>
            </ol>
        </div>
    </section>
    <section>
        <div>
            <p>
                The academic performance is to the required standard and this is becauseof the well-trained
                staff members who are talented in handlingpupils. <br>
                Discipline is a vital element in grooming pupils. It is the key to success as evidenced by the good
                performance for many consecutive years. <br>
                The meals served in the school are appetising and each day has its menu which varies with;rice, sweet potatoes, beans, meat to mention but a few. <br>
                Break tea is also served with eats.
            </p>
            <b>Our commitment to deliver has no bounds.</b> <br>
            <b>"We struggle for the future"</b>
        </div>
    </section>
{% endblock %}