{% extends 'schools/base.html' %}

{% block title %}Teachers{% endblock %}

{% block content %}
    <h2>Teachers</h2>
    <ul class="teacher_list">
        {% for teacher in teachers %}
            <div class="image-grid">
                <div class="image-item"><img src="{{ teacher.image.url }}" width="200" height="200"></div>
            </div>
            <li>
                <h3><a href="{% url 'schools:teacher_detail' teacher.pk %}">{{ teacher.first_name }} {{ teacher.last_name }}</a></h3>
            </li>
        {% endfor %}
    </ul>
{% endblock %}